

body {  
/*                  /*........BODY.............*/
    font-family: "Roboto";
    height: auto;
    width: 70%;
    margin: auto;
    background-color: black;
}

#gauche {                       /*........LEFT...........*/
    font-family: "Roboto";
    float: left;
    width:  16%; 
    margin-left: 46%;
    height: 750px;
    background-color: rgb(254,202,6);
}

.bloc_photo {
    height: 13%;
    text-align: center;
}

.imageflottante {
    border-radius: 80px / 80px;
    height: 80px;
    width: 80px;
    margin-top: 10%;
}

#gauche h2 {
    clear: both;
    background-color: rgb(64,64,64); 
    color: rgb(254,202,6);
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
    height: 20px;
}

#bloc_contact {
    height: 20%;
    font-size: 0.5em;
    margin-left: 10%;
    margin-top: 10px;
}

#bloc_apropos {
    height: 40%;
    margin-top: 10px;
}


#bloc_loisirs,
#bloc_contact,
#bloc_reseau,
#bloc_apropos {
    font-size: 1em;
}


#bloc_apropos {
    text-align: justify;
}

#bloc_loisirs {
    text-align: center;
}

.text-center {
   text-align: center;
}

.text-justify {
   text-align: justify;
}





#bloc_loisirs h2,
#bloc_contact h2,
#bloc_reseau h2,
#bloc_apropos h2 {
   font-size: 2.5em;
   margin: 0.2em auto;
}


#gauche section {
    font-size: 1em;
}

#gauche section h2 {
   font-size: 2.5em;
   margin: 0.2em auto;
}

#gauche section p {
   text-align: justify;
}







#bloc_apropos p {
    margin-left: 10%;
    width: 70%;
    text-align: justify;
    font-size: 0.5em;
}

#bloc_loisirs {
    height: 20%;
    text-align: center;
}

.fa-futbol-o {
    font-size:20px;
    color: rgb(64,64,64);
     background-color: rgb(254,202,6);
} 

.fa-motorcycle {
   font-size:20px;
   color: (64,64,64);
   background-color: rgb(254,202,6);
} 

.fa-skiing {
    font-size:20px;
   color: rgb(64,64,64);
    background-color: rgb(254,202,6);
} 



#droite {                       /*........RIGHT............*/
    font-family: "Roboto";
    float: right;
    width: 33%;
    height: 750px;
    background-color: white;
    font-size: 0.7em;
    margin-right: 5%;
}

#droite h1 {
    font-size: 2em;
    margin-left: 10%;
    margin-top: 50px; 
    margin-bottom: 5px;
}

h1 strong {
    background-color: white;
    color: rgb(254,202,6);
}

#droite h2 {
    font-size: 1em;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 40px;
}

#droite h3 {
    border-bottom: 1px solid rgb(254,202,6);
    height: 20px;
    font-size: 1em;
    margin: 1em auto;

    margin-bottom: 1px;
    width: 80%;
    /*margin-top: 10px;*/
}

.fa-graduation-cap {
    margin-right: 10px;
    font-size: 30px;
    background-color: white; 
    color: rgb(254,202,6);
    width: 6%;
}

.fa-briefcase {
    margin-right: 10px;
    font-size: 30px; 
    background-color: white;
    color: rgb(254,202,6);
    width: 6%;
}

.fa-pencil-square {
    margin-right: 10px;
    font-size: 30px;
    background-color: white; 
    color: rgb(254,202,6);
    width: 6%;
}

.col3070 {
    width: 80%;
    height: 17%;
    font-size: 0.6em;
    text-align: justify;
    margin-left: 15%;   
}

.col3070 h4 {
    font-size: 1.2em;
    margin-bottom:1px;
    margin-top: 10px;
    margin-left: 1%;
}

.col3070 h5 {
    font-size: 0.5em;
    margin-top: 4px;
    margin-bottom: 3px;
    margin-left: 1%;
}

.col3070 p {
    margin-left: 1%;
    max-width: 90%;
    margin-top: 1px;
    margin-bottom: 5px;
}

.periode {
    float: left;
    font-size: 0.7em;
    width: 65px;
    margin-top: 10px;
}

.recommandation {
    margin-left: 10%;
    height: 5%;
    width: 80%
}

.recommandation h6 {
    font-size: 0.6em;
    margin-top: 10px;
    margin-bottom: 1px;
}

.recommandation p {
    font-size: 0.6em;
    margin-top: 5px;
    margin-bottom: 1px;

}

.recommandation aside {
    font-size: 0.5em;
    margin-top: 5px;
    margin-bottom: 1px;
}

.recommandation span {
    font-size: 0.5em;
    margin-top: 5px;
    margin-bottom: 1px;
}




@media screen and (max-width: 1280px)
{
      body {
          width: 80%;
      }

      #gauche {                       /*........LEFT...........*/
          width:  25%; 
   }
}

@media screen and (max-width: 768px)
{
      body {
          width: 100%;
      }

      #gauche {                       /*........LEFT...........*/
          width:  45%; 
   }
}
