* {
    font-family: 'Roboto';
    color: rgb(64,64,64);
}

/* Utilisation de la police qu'on vient de définir sur les titres */
h1,
h2,
h3 {
    font-family: 'Roboto', Arial, serif;
}

/*........BODY.............*/
body {

    width: 90%;
    margin: auto;
    background-color: black;
}

/* Bloc gauche */
#gauche {                       
    background-color: rgb(254,202,6);
    float: left;
    width: 30%;
}

.bloc_photo {
    text-align: center;
    height: 260px;
}

.bloc_photo > img {
    margin-top: 3em;
    margin-bottom: 0.5em;
    border: 4px solid rgba(0,0,0,0.2);
    width: 190px;
    padding: 0.1em;
    height: 190px;
    border-radius: 50%;
}

#gauche h2 {
    clear: both;
    background-color: rgb(64,64,64);
    color: rgb(254,202,6);
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#gauche section p {
    padding: 0.5em 3em;
}

.margin-bottom {
    margin-bottom: 28em;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
    margin-bottom: 1em;
}

.text-center i {
    border: 2px solid rgb(64,64,64);
    width: 35px;
    height: 35px;
    padding: 0.4em;
    margin-right: 0.5em;
    border-radius: 50%;

}


/* Bloc droite */
#droite {                       
    background-color: white;
    float: right;
    width: 70%
}

#droite h1 {
    font-size: 4em;
    margin-top: 1.5em;
    margin-bottom: 0.1em;
    padding-left: 1em;
}

h1 strong {
    background-color: white;
    color: rgb(254,202,6);
}

#droite h2 {
    font-size: 1.7em;
    margin-top: 0.1em;
    margin-bottom: 4em;
    padding-left: 2.5em;
}

#droite h3 {
    border-bottom: 2px solid rgb(254,202,6);
    color: black;
    max-width: 80%;
    height: 50px;
    font-size: 1.8em;
    margin: 0.6em auto;
}

#droite h3 i {
    font-size: 40px;
    color: rgb(254,202,6);
    margin-right: 0.5em;
}

.col3070 {
    max-width: 80%;
    text-align: justify;
    margin: 0.5em auto;
    padding-top: 1em;
}

.col3070 h4 {
    font-size: 1.2em;
    margin-bottom: 0.4em;
    margin-top: 0;
}

.col3070 h5 {
    font-size: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.col3070 p {
    margin-top: 0.4em;
    margin-bottom: 2.6em;
    width: 95%;
}

td {
    vertical-align: top;
}

.periode {
    font-size: 1em;
    width: 220px;
}

.periode span {
    margin-left: 1.5em;
}

.fa-dot-circle,
.fa-circle {
    color: rgb(254,202,6);
    margin-right: 0.7em;
}

.fa-dot-circle {
    font-size: 15px;
}

.fa-circle {
    font-size: 10px;
}

.recommandation {
    width: 90%;
    margin-left: 5em;
    margin-top: 0em;
    margin-bottom: 1.5em;
}

.recommandation h5 {
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.9em;
}

.recommandation p {
    font-size: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}




/************* RESPONSIVE DESIGN ********************************************** */

@media screen and (max-width: 1280px) {
    body {
        width: 100%;
    }
    /* Bloc gauche */
    .bloc_photo {
        height: 170px;
    }

    .bloc_photo > img {
        margin-top: 1.5em;
        margin-bottom: 0.1em;
        width: 130px;
        height: 130px;
    }

    #gauche h2 {
        font-size: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    #gauche section p {
        font-size: 1em;
        padding-left: 0.4em;
        padding-right: 0.7em;
    }
    

    .text-justify {
        font-size: 0.9em;
    }

    .margin-bottom {
        margin-bottom: 12em;
    }
    
    .text-center {
        margin-bottom: 2em;
    }

    .text-center i {
        padding: 0.2em;
    }


    /* Bloc droite */
    #droite h1 {
        font-size: 2em;
        margin-top: 2em;
        margin-left: 0.5em;
    }

    #droite h2 {
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 4em;
        margin-left: 0.5em;
    }

    #droite h3 {
        max-width: 95%;
        height: 35px;
        font-size: 1.2em;
        margin-left: 0.3em;
    }

    #droite h3 i {
        font-size: 1.2em;
    }

    .col3070 {
        max-width: 95%;
        margin-left: 1em;
    }

    .col3070 h4 {
        font-size: 0.9em;
        margin-bottom: 0.4em;
        margin-top: 0;
    }

    .col3070 h5 {
        font-size: 0.8em;
        margin-top: 0.3em;
        margin-bottom: 0.4em;
    }

    .col3070 p {
        font-size: 0.8em;
        margin-top: 0.4em;
        margin-bottom: 1em;
        width: 95%;
    }

    .periode {
        font-size: 1em;
        width: 220px;
    }

    .periode span {
        margin-left: 1.4em;
    }

    .fa-dot-circle,
    .fa-circle {
        margin-right: 0.5em;
    }

    .recommandation {
        width: 100%;
        margin-left: 0.5em;
        margin-top: 0em;
        margin-bottom: 2em;
    }

    .recommandation h5 {
        font-size: 1em;
        margin-bottom:0.5em;
    }

    .recommandation p {
        font-size: 1em;
        margin-bottom: 0.2em;
    }
}




@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }
/*  Bloc gauche */
    #gauche { 
        width:  100%;
    }

    .bloc_photo {
        height: 130px;
    }

    .bloc_photo > img {
        margin-top: 5%;
        margin-bottom: 1%;
        border: 2px solid rgba(0,0,0,0.2);
        width: 110px;
        padding: 0.1em;
        height: 110px;
        border-radius: 50%;
    }

    #gauche h2 {
        clear: both;
        background-color: rgb(64,64,64);
        color: rgb(254,202,6);
        text-transform: uppercase;
        font-size: 0.9em;
        text-align: center;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    #gauche section p {
        padding: 0.1em 3em;
        font-size: 0.7em;
    }

    .margin-bottom {
        margin-bottom: 3em;
    }

    .text-justify {
        text-align: justify;
    }

    .text-center {
        height: 50px;
        text-align: center;
        margin-bottom: 3%;
    }

    .text-center i {
        border: 2px solid rgb(64,64,64);
        width: 35px;
        height: 35px;
        padding: 0.4em;
        margin-right: 0.5em;
        border-radius: 50%;

}
/*

    .fa-futbol,
    .fa-biking,
    .fa-skiing {
        border: 2px solid rgb(64,64,64);
        width: 25px;
        height: 25px;
        margin-right: 0.3em;
        border-radius: 50%;
    } 

*/



/* Bloc droite */
    #droite {
        width: 100%;
    }
    #droite h1 {
        font-size: 1.2em;
        margin-top: 5%;
        margin-bottom: 2%;
        padding-left: 1em;
    }

    h1 strong {
        background-color: white;
        color: rgb(254,202,6);
    }

    #droite h2 {
        font-size: 0.8em;
        margin-top: 1%;
        margin-bottom: 5%;
        padding-left: 2em;
    }

    #droite h3 {
        border-bottom: 1px solid rgb(254,202,6);
        color: black;
        max-width: 90%;
        height: 20px;
        font-size: 0.8em;
        margin-left: 0.1em;
    }

    #droite h3 i {
        font-size: 15px;
        color: rgb(254,202,6);
        margin-right: 3%;
    }

    .col3070 {
        max-width: 90%;
        text-align: justify;
        margin-left: 1.2em;
        margin-top: 5%;
    }

    .col3070 h4 {
        font-size: 0.6em;
        margin-bottom:1%;
        margin-top: 0;
    }

    .col3070 h5 {
        font-size: 0.6em;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .col3070 p {
        font-size: 0.7em;
        margin-top: 1%;
        margin-bottom: 5%;
        width: 95%;
    }

    .periode {
        font-size: 0.7em;
        width: 130px;
    }

    .periode span {
        margin-left: 10%;
        font-size: 0.8em;
    }

    .fa-dot-circle,
    .fa-circle {
        color: rgb(254,202,6);
        margin-right: 2%;
    }

    .fa-dot-circle {
        font-size: 8px;
    }

    .fa-circle {
        font-size: 4px;
    }

    .recommandation {
        min-width: 90%;
        text-align: justify;
        margin-left: 10%;
        margin-top: 3%;
        margin-bottom: 6%;
    }

    .recommandation h5 {
        font-size: 0.7em;
        margin-bottom:1%;
        margin-top: 1%;
    }

    .recommandation p {
        font-size: 0.6em;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}